{% extends "base.html" %}

{% block title %}
  <title>Debit Note Maker</title>
  <style>
    .limit-text {
      overflow: hidden;
      text-overflow: ellipsis; /* Adds "..." at the end of truncated text */
      display: -webkit-box;
      -webkit-line-clamp: 1; /* Replace N with the desired number of lines */
      line-clamp: 1; /* Standard property for compatibility */
      -webkit-box-orient: vertical;
    }
  </style>
{% endblock %}
{% block content %}
<div class="container center">
  <h1 class="display-4 text-center mb-5">All Companies
    <button type="button" class="btn btn-outline-primary btn-sm edit-transaction-btn"
    data-bs-toggle="modal" data-bs-target="#editCompanyModal"
    >
    <i class="bi bi-plus-square"></i>
</button>

  </h1>
  <div class="row justify-content-center">
    {% for company in companies %}
    {% include 'company/company_card.html' %}
    {% endfor %}
  </div>

</div>
{% include 'company/company_edit_modal.html' %}
{% endblock %}

